<div class="all_teams">
    <h1>チーム一覧</h1>
    <ul class="teams_list">
        <% @teams.each do |teams| %>
        <li>
        <%= teams.name %><br>
        <%= image_tag teams.avatar.url %>
        </li>
        <% end %>
    </ul>
</div>