<div class="all_teams">
    <p>Teams</p>
    <ul class="teams_list">
        <% @teams.each do |teams| %>
            <li>
                <%= link_to teams.name, team_path(teams) %><br>
                <%= image_tag teams.avatar.url, :alt => "noimage" %>
            </li>
        <% end %>
        <br>
        <li><%= link_to "戻る", root_path %></li>
    </ul>
</div>