<div class="all_teams">
    <p>チーム一覧</p>
    <ul class="teams_list">
        <% @teams.each do |teams| %>
            <li>
                <%= link_to teams.name, team_path(teams) %><br>
                <%= image_tag teams.avatar.url %>
            </li>
        <% end %>
    </ul>
</div>