
<div class="myteam">
    <%= image_tag @team.avatar.url %>
    <div class="team_name">
        <%= @team.name %>
    </div>
    <div class="members">
        <ul>
            <% @team_users.each do |user| %>
                <li>
                    <%= image_tag user.avatar.url %>
                    <%= link_to user.name, user_path(user) %>
                </li>
            <% end %>
        <ul>
    </div>
</div>