<div class="var_link">
    <ul>
        <li><%= link_to "編集", edit_user_path %></li>
        <li><%= link_to "チーム", my_path %></li>
        <li><%= link_to "チーム作成", new_team_path %></li>
    </ul>
</div>