<div class="sidebar">
    <%= render "users/show" %>
    <%= render "users/sidevar" %>
</div>
<div class="userinfo">
    <ul>
        <li>メールアドレス:<%= @user.email %></li>
        <li>所属チーム:<%= @team.name %></li>
    <ul>
</div>