<%= render "users/show" %>
<div class="team_link">
    <ul>
        <li><%= link_to "edit", edit_user_path %></li>
        <li><%= link_to "my team", team_path %></li>
        <li><%= link_to "create team", new_team_path %></li>
    </ul>
</div>