<div class="formation_list">
    <% @formations.each do |formation| %>
        <li><%= link_to formation.name, formation_path(formation) %></li>
    <% end %>
</div>
<div class="link_new">
    <p><%= link_to "作成", new_formation_path %></p>
</div>