<div class="sidebar">
    <%= render "users/show" %>
	<div class="create_link">
		<%= link_to "作成", new_formation_path %>
	</div>
</div>
<div class="formation_list">
    <h1>Formations</h1>
    <% @formations.each do |formation| %>
        <li><%= link_to formation.name, formation_path(formation) %></li>
    <% end %>
</div>
