@import "bootstrap-sprockets";
@import "bootstrap";

/*home*/
html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
}

header{
    position: fixed !important;
    position: abusolute;
    height: 50px;
    top: 0;
}

.navbar{
    background-color: #006699;
    border-color: #006699;
    margin: 0;
    padding: 10px;
}


.apptitle{
    color: white;
    width: 50px;
    margin-right: 0;
    padding: 0;
    font-size: 30px;
    font-family: cursive;
}

.navbar-right{
    color: white;
    margin: -25px 20px 0 0;
    padding: 0;
    font-size: 15px;
}

.navbar-right li{
    margin: 0 10px;
}

.subtitle{
    margin: -30px 0 0 80px;
    color: white;
}

.container{
    height: 100%;
    width: 100%;
    left: 100px;
    padding: 0;
}


.homepage{
    width: 100%;
    height: 100%;
    background-color: #868A08;
}

.pibe_img{
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 800px;
}

.img_text{
    color: white;
    margin: -400px 0 0 200px;
    font-size: 80px;
    font-family: cursive;
}

.how_to{
    margin-top: 280px;
    height: 500px;
    
    img{
        height: 100%;
    }
}

.carousel {
     background-color: #00CC99;
     margin: 0;
}

#carousel-example-generic{
    width: 100%;
}

.carousel-indicators{
    margin-bottom: 40px;
}

.carousel-inner{
    width: 100%;
    margin: 0;
    bottom: 0;
}

.item{ 
    height: 500px;
    width: 100%;
    
    
}

.carousel-caption{
    margin-bottom: 20px;
}

.left {
    margin: 0 -10px;
}

.right {
    margin: 0 0px;
}

/*signup*/
.signup_form{
    margin: 150px 100px 0 100px;
}
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*show.html*/
.profile{
    position: fixed !important;
    position: abusolute;
    height: 100%;
    width: 15%;
    margin: 0;
    background-color: #00CC99;
}

.gravatar{
    margin-top: 50px;
    height: 50px;
    width: 50px;
}

.username{
    margin: 0px;
    font-size: 12px;
    
}

.team_link{
    margin: 0;
}

.userinfo{
    margin: 100px 0 0 300px;
}

/*teams*/
.all_teams{
    margin: 100px;
}

.team_profile{
    margin-top: 50px;
}

/*members*/
.members{
    margin: -50px 0 0 200px;
}


/*login*/
.login{
    margin: 200px;
    border-color: blue;
}

.alert{
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
}

/*fooer*/
.footerarea{
    position: fixed !important;
    position: abusolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #006699;
    text-align: center;
    color: white;
}

.copyright{
    padding-top: 10px;
    bottom: 0;
}

/*edit*/
.edit_page{
    width: 100%;
}

.edit_area{
    margin-left: 300px;
    margin-right: 100px;
}

/*myteam*/
.myteam{
    margin: 100px;
}