@import "bootstrap-sprockets";
@import "bootstrap";

/*home*/
html{
    height: 100%;

    body{
        height: 100%;
        width: 100%;
    }
}

/*header*/
.navbar-default{
    background-color: #006699;
    border-color: #006699;
    
    .container{
        margin: 0 30px;
        
        .apptitle{
            font-size: 30px;
            font-family: cursive;
            margin-top: 10px;
        }
        
        .subtitle{
            margin: -25px 0 0 65px;
            color: white;
        }
        
        .navbar-right{
            margin: -40px 60px 0 240px;
            color: white;
            
        }
    }
}


.link_signup{
    margin-top: -250px;
    font-size: 20px;
    text-align: center;
}

.container{
    height: 100%;
    width: 100%;
    left: 100px;
    padding: 0;
}


.homepage{
    width: 100%;
    height: 700px;
    background-color: white;
}

.pibe_img{
    width: 100%;
    height: 100%;
    
    img {
    width: 100%;
    height: 100%;
}
}

.img_text{
    color: white;
    margin: -400px 0 0 200px;
    font-size: 80px;
    font-family: cursive;
}

.how_to{
    margin: 0px;
    height: 500px;
    
    img{
        height: 100%;
        width: 100%;
    }
}

/*carousel*/
.carousel {
    height: 500px;
     background-color: white;
     margin: 0;
}

#carousel-example-generic{
    width: 100%;
}

.carousel-indicators{
    margin-bottom: 40px;
}

.carousel-inner{
    width: 100%;
    margin: 0;
    bottom: 0;
    
    .item{ 
    height: 500px;
    width: 100%;
    
        img{
            height: 100%;
            width: 100%;
        }
    
    }
}

.carousel-caption{
    margin-bottom: 20px;
}

.left {
    margin: 0 -10px;
}

.right {
    margin: 0 0px;
}

/*signup*/
.signup_form{
    height: 100%;
    margin: 100px 100px 0px 100px;
    
    .signup_label{
        text-align: center;
        font-size: 30px;
        margin: 0 250px 20px 250px;
    }
    
    .row{
        height: 100%;
        .new_user{
            height: 100%;
            
            img{
                height: 100px;
                width: 100px;
            }
        }
    }
}
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*show.html,edit.html*/
.sidebar{
    position: fixed !important;
    position: abusolute;
    height: 100%;
    width: 15%;
    margin: 0;
    background-color: #00CC99;
    
    .username{
        text-align: center;
        font-size: 30px;
    }
    
    .teamname{
        text-align: center;
        font-size: 30px;
    }
    
    img{
    margin-top: 70px;
    height: 200px;
    width: 100%;
    }
}

.var_link{
    margin: 0;
    
    ul {
        list-style: none;
    }
}

.userinfo{
    margin: 100px 0 0 300px;
    height: 100%;
    
    h1{
        margin-bottom: 30px;
    }
    
    ul{
        list-style: none;
        font-size: 30px;
        
        li{
            margin-bottom: 20px;
        }
    }
}

.teammate{
    height: 100%;
    margin: 100px 0 0 300px;
    list-style: none;
    
    li{
        float: left;
        
        img{
            height: 200px;
            width: 200px;
        }
    }
}

/*teams*/
.all_teams{
    height: 100%;
    margin: 200px 0 0 50px;
    
    p{
        font-size: 30px;
        text-align: center;
    }
    
    .teams_list{
        height: 100%;
        width: 100%;
        list-style: none;
        
        li{
            width: 200px;
            float: left;
            margin: 30px;
        }
        
            img{
                height: 200px;
                width: 200px;
            }
        
    }
}

.team_profile{
    margin-top: 50px;
}

/*newteam*/
.new_team{

    img{
        height: 100px;
        width: 100px;
    }
    
}

/*members*/
.members{
    margin: 100px 0 0 300px;
    font-size: 30px;
    
    h1{
        margin-bottom: 30px;
    }
    
    ul{
        list-style: none;
        
        li{
            margin-bottom: 20px;
            
            img{
                height: 100px;
                width: 100px;
            }
        }
    }
}


/*login*/
.login{
    margin: 200px;
    border-color: blue;
}

.alert{
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
}

/*fooer*/
.footerarea{
    position: fixed !important;
    position: abusolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #006699;
    text-align: center;
    color: white;
}

.copyright{
    padding-top: 10px;
    bottom: 0;
}

/*edit*/
.edit_area{
        height: 100%;


    .edit_user{
        margin: 100px 100px 0 300px;
    
        img{
            height: 100px;
        }
    }
    .edit_team{
        margin: 100px 100px 0 300px;
        img{
            height: 200px;
            width: 200px;
        }
    }
}

/*myteam*/
.container{
    height: 100%;

    .myteam{
        
        .members{
            height: 100%;
        }
        
        img{
            height: 200px;
            width: 100%;
        }
    }
}

/*formation*/
.formations{
    margin: 200px;
}

/*formation show*/
.formation{
    height: 100%;
    .player{
        li{
            list-style: none;
            img{
                height: 100px;
                width: 100px;
            }
        }
    }
    
    #player1{
        margin: 100px 0 0 380px;
    }
    #player2{
        margin: -130px 0 0 600px;
    }
    #player3{
        margin: 20px 0 0 800px;
    }
    #player4{
        margin: -100px 0 0 600px;
    }
    #player5{
        margin: -130px 0 0 400px;
    }
    #player6{
        margin: -130px 0 0 200px;
    }
    #player7{
        margin: 20px 0 0 800px;
    }
    #player8{
        margin: -100px 0 0 600px;
    }
    #player9{
        margin: -130px 0 0 400px;
    }
    #player10{
        margin: -130px 0 0 200px;
    }
    #player11{
        margin: 20px 0 0 500px;
    }
}