@import "bootstrap-sprockets";
@import "bootstrap";

/*home*/
html{
    height: 100%;

    body{
        width: 100%;
    }
}

/*header*/
.navbar-default{
    background-color: #006699;
    border-color: #006699;
    
    .container{
        margin: 0 30px;
        
        .apptitle{
            font-size: 30px;
            font-family: cursive;
            margin-top: 10px;
        }
        
        .subtitle{
            margin: -25px 0 0 65px;
            color: white;
        }
        
        .navbar-right{
            margin: -40px 60px 0 240px;
            color: white;
            
        }
    }
}


.link_signup{
    margin-top: -250px;
    font-size: 20px;
    text-align: center;
}

.container{
    height: 100%;
    width: 100%;
    left: 100px;
    padding: 0;
}


.homepage{
    width: 100%;
    height: 700px;
    background-color: white;
}

.pibe_img{
    width: 100%;
    height: 100%;
    
    img {
    width: 100%;
    height: 100%;
}
}

.img_text{
    color: white;
    margin: -400px 0 0 200px;
    font-size: 80px;
    font-family: cursive;
}

.how_to{
    margin: 0px;
    height: 500px;
    
    img{
        height: 100%;
        width: 100%;
    }
}

/*carousel*/
.carousel {
    height: 500px;
     background-color: white;
     margin: 0;
}

#carousel-example-generic{
    width: 100%;
}

.carousel-indicators{
    margin-bottom: 40px;
}

.carousel-inner{
    width: 100%;
    margin: 0;
    bottom: 0;
    
    .item{ 
    height: 500px;
    width: 100%;
    
        img{
            height: 100%;
            width: 100%;
        }
    
    }
}

.carousel-caption{
    margin-bottom: 20px;
}

.left {
    margin: 0 -10px;
}

.right {
    margin: 0 0px;
}

/*signup*/
.signup_form{
    height: 100%;
    margin: 100px 100px 50px 100px;
    
    .signup_label{
        text-align: center;
        font-size: 30px;
        margin: 0 250px 20px 250px;
        font-family: cursive;
    }
    
    .row{
        height: 100%;
        .new_user{
            height: 100%;
            
            img{
                height: 100px;
                width: 100px;
            }
        }
    }
}
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*show.html,edit.html*/
.sidebar{
    position: fixed !important;
    position: abusolute;
    height: 100%;
    width: 15%;
    margin: 0;
    background-color: #00CC99;
    
    .username{
        text-align: center;
        font-size: 30px;
    }
    
    .teamname{
        text-align: center;
        font-size: 30px;
    }
    
    img{
    margin-top: 70px;
    height: 200px;
    width: 100%;
    }
}

.var_link{
    margin: 0;
    
    ul {
        list-style: none;
    }
}

.userpage{
    margin-bottom: 50px;
    height: 100%;
    
    .userinfo{
        margin: 100px 0 0 300px;
        height: 100%;
        
        h1{
            margin-bottom: 30px;
            font-family: cursive;
            
        }
        
        ul{
            list-style: none;
            font-size: 30px;
            
            li{
                margin-bottom: 20px;
                
                .ptitle{
                    font-family: cursive;
                    font-size: 20px;
                }
            }
        }
    }
}

.teammate{
    height: 100%;
    margin: 50px 0 0 300px;
    list-style: none;
    font-family: cursive;
    
    li{
        float: left;
        margin: 50px;
        
        img{
            height: 100px;
            width: 100px;
        }
    }
}

/*teams*/
.all_teams{
    height: 100%;
    margin: 200px 0 0 50px;
    
    p{
        font-size: 30px;
        text-align: center;
        font-family: cursive;
    }
    
    .teams_list{
        height: 100%;
        width: 100%;
        list-style: none;
        
        li{
            width: 200px;
            float: left;
            margin: 30px;
        }
        
            img{
                height: 200px;
                width: 200px;
            }
        
    }
}

.team_profile{
    margin-top: 50px;
}

/*newteam*/
.signup_form{
    
    h1{
        text-align: center;
        font-family: cursive;
        
    }
}
.new_team{

    img{
        height: 100px;
        width: 100px;
    }
    
}

/*members*/
.members{
    margin: 100px 0 0 300px;
    font-size: 30px;
    font-family: cursive;
    
    h1{
        margin-bottom: 30px;
    }
    
    ul{
        list-style: none;
        
        li{
            margin: 50px;
            float: left;
            
            img{
                height: 100px;
                width: 100px;
            }
        }
    }
}


/*login*/
.login{
    margin: 200px;
    border-color: blue;
    
    h1{
        text-align: center;
        font-family: cursive;
    }
}

.alert{
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
}

/*fooer*/
.footerarea{
    position: fixed !important;
    position: abusolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #006699;
    text-align: center;
    color: white;
}

.copyright{
    padding-top: 10px;
    bottom: 0;
}

/*edit*/
.edit_area{
        height: 100%;


    .edit_user{
        margin: 100px 100px 100px 300px;
        height: 100%;
    
        img{
            height: 100px;
        }
    }
    .edit_team{
        margin: 100px 100px 0 300px;
        img{
            height: 200px;
            width: 200px;
        }
    }
}

/*myteam*/
.container{
    height: 100%;

    .myteam{
        
        .members{
            height: 100%;
            
            li{
               margin: 50px;
                
                img{
                height: 200px;
                width: 100%;
                }
            }
        }
        
    }
}

/*formtion index*/
.formation_list{
    margin: 100px 0 100px 50px;
    text-align: center;
    font-family: cursive;
    
    li{
        list-style: none;
        font-size: 20px;
    }
}

.link_new{
    margin-left: 200px;
    li{
        list-style: none;
    }
}

/*formation new*/
.formations{
    margin: 70px 0 50px 20px;
    
    .field{
        img{
            margin: 0 0 -500px 230px;
            height: 500px;
            width: 1000px;
        }
    }
    
    #formation_name{
        width: 200px;
    }
    
    .player1{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player1{
            margin: -105px 0 0 430px;
        }
    }
    
    .player2{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player2{
            margin: -140px 0 0 700px;
        }
    }
    
    .player3{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player3{
            margin: -50px 0 0 200px ;
        }
    }
    
    .player4{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player4{
            margin: -80px 0 0 430px;
        }
    }
    
    .player5{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player5{
            margin: -110px 0 0 700px;
        }
    }
    
    .player6{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player6{
            margin: -150px 0 0 1000px;
        }
    }
    
    .player7{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player7{
            margin: -20px 0 0 200px;
        }
    }
    
    .player8{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player8{
            margin: -50px 0 0 430px;
        }
    }
    
    .player9{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player9{
            margin: -70px 0 0 700px;
        }
    }
    
    .player10{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player10{
            margin: -120px 0 0 1000px;
        }
    }
    
    .player11{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        #player11{
            margin: 0 0 0 590px;
        }
    }
    img{
        height: 100px;
        width: 100px;
    }
    .btn-large{
        width: 100px;
    }
}

/*formation show*/
.formation_show{
    .field{
        img{
            margin: 0 0 -1000px 150px;
            height: 500px;
            width: 1000px;
        }
    }
    .formation{
        height: 100%;
        margin-bottom: 50px;
        .formation_name{
            margin-top: 70px;
            font-size: 30px;
            text-align: center;
        }
        .player{
            li{
                list-style: none;
                img{
                    height: 100px;
                    width: 100px;
                }
            }
        }
        
        #player1{
            margin: 100px 0 0 430px;
        }
        #player2{
            margin: -130px 0 0 650px;
        }
        #player3{
            margin: 20px 0 0 850px;
        }
        #player4{
            margin: -100px 0 0 650px;
        }
        #player5{
            margin: -130px 0 0 450px;
        }
        #player6{
            margin: -130px 0 0 250px;
        }
        #player7{
            margin: 20px 0 0 850px;
        }
        #player8{
            margin: -100px 0 0 650px;
        }
        #player9{
            margin: -130px 0 0 450px;
        }
        #player10{
            margin: -130px 0 0 250px;
        }
        #player11{
            margin: 20px 0 0 550px;
        }
    }
}

/*meeting*/
.meeting{
    margin: 80px;
    .team_name{
        font-size: 30px;
        font-family: cursive;
    }
    .panel-heading{
        font-size: 25px;
        font-family: cursive;
    }
}