<div class="myteam">
    <%#= gravatar_for @team %> <!--ここにチームのアイコンを入れる-->
    <div class="teamname">
        <%= @team.name %>
    </div>
</div>

<div class="members">
    <ul>
        <% @team_users.each do |user| %>
            <li>
                <%= user.name %>
            </li>
        <% end %>
    <ul>
</div>