<header class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
    <div class="container">
        <nav>
            <div class="apptitle">
            <h2>Pibe</h2>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "sign in", "#", :style => "color:white" %></li>
                <li><%= link_to "sign up", "#", :style => "color:white" %></li>
            </ul>
        </nav>
    </div>
</header>