<header class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
    <div class="container">
        <nav>
            <div class="apptitle">
                <%= link_to "Pibe", root_path, :style => "color:white" %>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "sign in", login_path, :style => "color:white" %></li>
                <li><%= link_to "sign up", signup_path, :style => "color:white" %></li>
            </ul>
        </nav>
    </div>
</header>